$yellow:#FFDD33;;
//$lime-green: #EBEBC9;

$lime-green: #DEDEAE;

.Wrapper{
    background-image: url("data:image/svg+xml,%3Csvg width='83' height='78' viewBox='0 0 83 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0683 30.5823C10.0104 29.7777 9.52834 28.5433 9.10583 27.4579C8.92674 26.9592 8.71053 26.4746 8.45903 26.0082C8.16715 25.5374 7.83973 25.0896 7.47961 24.6687C6.72098 23.7252 5.93615 22.7479 5.75593 21.4803C5.57571 20.2127 6.07933 19.0642 6.56349 17.9458C6.79692 17.4435 6.99284 16.9246 7.14965 16.3934C7.26749 15.8768 7.34646 15.3521 7.38589 14.8237C7.507 13.6781 7.64192 12.3598 8.44654 11.3019C9.25115 10.244 10.4856 9.762 11.571 9.33949C12.0697 9.1604 12.5542 8.94419 13.0206 8.69269C13.4907 8.39972 13.9384 8.07235 14.3602 7.71328C15.3037 6.95464 16.2809 6.16981 17.5507 5.99126C18.8205 5.8127 19.963 6.31519 21.0835 6.80101C21.5858 7.03444 22.1048 7.23036 22.636 7.38717C23.1526 7.50501 23.6773 7.58398 24.2057 7.62341C25.3508 7.74066 26.6691 7.87559 27.7269 8.6802C28.7848 9.48482 29.2668 10.7192 29.6894 11.8046C29.8685 12.3033 30.0847 12.7879 30.3362 13.2543C30.6291 13.7243 30.9565 14.1721 31.3156 14.5938C32.0742 15.5373 32.859 16.5146 33.0376 17.7844C33.2161 19.0542 32.7137 20.1966 32.2278 21.3172C31.9944 21.8195 31.7985 22.3384 31.6417 22.8697C31.5238 23.3863 31.4449 23.911 31.4054 24.4393C31.2882 25.5844 31.1533 26.9027 30.3486 27.9606C29.544 29.0185 28.3096 29.5005 27.2242 29.923C26.7255 30.1021 26.241 30.3183 25.7746 30.5698C25.3045 30.8628 24.8568 31.1902 24.435 31.5492C23.4915 32.3079 22.5143 33.0927 21.2467 33.2729C19.9791 33.4531 18.8322 32.9473 17.7139 32.4632C17.212 32.2285 16.693 32.0326 16.1614 31.877C15.6448 31.7592 15.1201 31.6802 14.5917 31.6408C13.4444 31.5219 12.1261 31.3869 11.0683 30.5823ZM26.7274 9.99433C26.0375 9.46958 25.0618 9.37053 24.0245 9.26612C23.4126 9.2159 22.8054 9.11926 22.2081 8.97703C21.5972 8.79972 21.0005 8.57695 20.4228 8.3106C19.4756 7.90135 18.5828 7.51612 17.773 7.62623C16.9632 7.73634 16.1947 8.33766 15.4022 8.9933C14.9166 9.40422 14.401 9.77824 13.8597 10.1122C13.3198 10.4074 12.7582 10.661 12.1798 10.8709C11.2009 11.2534 10.2854 11.6115 9.76067 12.3014C9.23592 12.9914 9.13521 13.9692 9.03246 15.0043C8.98224 15.6162 8.8856 16.2235 8.74337 16.8208C8.56606 17.4316 8.34329 18.0284 8.07694 18.606C7.66768 19.5532 7.28246 20.446 7.39257 21.2558C7.50268 22.0656 8.104 22.8341 8.75964 23.6267C9.17024 24.1124 9.54425 24.628 9.87857 25.1692C10.1737 25.7091 10.4273 26.2706 10.6372 26.849C11.0197 27.828 11.3779 28.7434 12.0678 29.2682C12.7577 29.7929 13.7356 29.8936 14.7706 29.9964C15.3826 30.0466 15.9898 30.1432 16.5871 30.2855C17.1978 30.4632 17.7946 30.6859 18.3724 30.9519C19.3195 31.3612 20.2146 31.7481 21.0222 31.6363C21.8297 31.5245 22.6004 30.9249 23.393 30.2692C23.8785 29.8583 24.3942 29.4843 24.9355 29.1503C25.4754 28.8551 26.037 28.6015 26.6154 28.3917C27.5943 28.0092 28.5098 27.651 29.0345 26.9611C29.5593 26.2712 29.66 25.2933 29.7627 24.2582C29.8129 23.6463 29.9096 23.039 30.0518 22.4418C30.2291 21.8309 30.4519 21.2341 30.7182 20.6565C31.1275 19.7093 31.5127 18.8165 31.4026 18.0067C31.2925 17.1969 30.6912 16.4284 30.0372 15.6337C29.6252 15.149 29.2511 14.6333 28.9183 14.0912C28.6231 13.5513 28.3695 12.9897 28.1597 12.4113C27.7755 11.4345 27.4173 10.5191 26.7274 9.99433Z' fill='white' fill-opacity='0.26'/%3E%3Cpath d='M15.1544 24.0099C13.7553 22.9431 12.8362 21.3651 12.5984 19.6219C12.3607 17.8786 12.8236 16.1121 13.8858 14.7096C14.7666 13.5563 16.0687 12.7991 17.5067 12.604C18.9447 12.4088 20.4014 12.7915 21.5577 13.6683C22.5159 14.3989 23.1455 15.4795 23.3086 16.6734C23.4717 17.8673 23.155 19.0772 22.4278 20.038C21.8165 20.8394 20.9122 21.3655 19.9135 21.5009C18.9147 21.6364 17.903 21.3701 17.1004 20.7605L18.0999 19.4464C18.5538 19.7916 19.1261 19.9425 19.6912 19.8661C20.2563 19.7896 20.7679 19.4919 21.1137 19.0385C21.5765 18.4265 21.7778 17.656 21.6737 16.8957C21.5696 16.1355 21.1685 15.4475 20.5582 14.9824C19.7499 14.3695 18.7314 14.1022 17.7262 14.2392C16.7211 14.3763 15.8113 14.9065 15.1966 15.7135C14.4005 16.7674 14.0543 18.0937 14.2337 19.4023C14.4131 20.7108 15.1035 21.895 16.1539 22.6958C17.5141 23.7276 19.228 24.1781 20.9198 23.9484C22.6117 23.7187 24.1434 22.8276 25.1793 21.4705L26.4934 22.47C25.192 24.1751 23.2676 25.2946 21.1421 25.5833C19.0167 25.8719 16.8634 25.3061 15.1544 24.0099Z' fill='white' fill-opacity='0.26'/%3E%3Cpath d='M57.4394 69.6676C57.8772 69.3226 58.6831 69.1287 59.2302 69.2366L68.189 71.0055C68.736 71.1129 68.9031 70.8415 68.5607 70.4019L62.8646 63.0879C62.5219 62.6483 62.3326 61.8413 62.4437 61.2947L64.2373 52.4814C64.3484 51.935 64.081 51.7704 63.6429 52.1154L56.4697 57.7667C56.0316 58.1118 55.226 58.3056 54.6789 58.1977L45.7203 56.4288C45.1731 56.3205 45.01 56.5891 45.3576 57.0251L50.9643 64.0574C51.3125 64.4933 51.5102 65.2985 51.4056 65.8455L49.6606 74.9504C49.556 75.4986 49.828 75.6636 50.2661 75.3186L57.4394 69.6676ZM54.4362 64.3232C54.1014 62.9323 54.9584 61.5334 56.3487 61.1989C57.7396 60.8641 59.1386 61.7204 59.4732 63.111C59.808 64.5022 58.9517 65.9009 57.5608 66.2357C56.1695 66.5699 54.7709 65.7144 54.4362 64.3232Z' fill='white' fill-opacity='0.26'/%3E%3Cpath d='M9.93775 71.2277C10.5796 70.4759 13.4172 67.0011 13.2006 65.5043L13.1874 65.4551L17.462 65.1794L21.0603 49.2988L9.10649 60.3554L11.0182 64.2443C9.59206 64.6264 8.04593 68.8884 7.71099 69.9005C6.75991 69.8918 5.86025 70.3701 5.35625 71.243C4.61824 72.5213 5.05308 74.1441 6.33135 74.8822C7.60961 75.6202 9.23247 75.1853 9.97047 73.9071C10.4253 73.0473 10.3896 72.029 9.93775 71.2277ZM6.93018 73.773C6.24428 73.377 6.03827 72.5098 6.41627 71.855C6.79427 71.2003 7.67947 70.9631 8.33419 71.3411C8.98891 71.7191 9.2261 72.6043 8.8481 73.2591C8.47009 73.9138 7.61607 74.169 6.93018 73.773Z' fill='white' fill-opacity='0.26'/%3E%3Cpath d='M76.0857 27.0553L63.8398 19.9851L66.2072 15.8845L74.0439 20.5952C74.381 20.796 74.8188 20.6826 75.0149 20.3428L75.3535 19.7564C75.5497 19.4166 75.429 18.9808 75.0865 18.7892L67.0887 14.3579L67.8733 12.9988L75.71 17.7094C76.0471 17.9102 76.4849 17.7969 76.681 17.4571L77.0169 16.8753C77.2131 16.5355 77.0924 16.0996 76.7499 15.9081L68.5725 11.3793C68.5318 11.0951 68.367 10.8324 68.097 10.6765L67.2964 10.2143L67.0949 10.5634L66.3887 10.1743L66.5983 9.81123L65.43 9.13673L65.2096 9.5184L64.5034 9.12927L64.7291 8.7383L63.5609 8.06379L63.3271 8.46873L62.6208 8.07961L62.8681 7.6514L62.0675 7.18919C61.602 6.92046 61.012 7.08249 60.746 7.54329L56.1347 15.5304L54.1379 14.3775C53.5887 14.0604 52.8871 14.276 52.6192 14.8474C50.3046 19.7915 51.555 25.0748 55.1993 28.8669L53.9305 30.2691C53.5875 30.6483 53.6841 31.244 54.1217 31.4966L61.2709 35.6242C61.7131 35.8795 62.2754 35.658 62.4295 35.1761L63.0095 33.3761C68.1183 34.6314 73.3163 33.0773 76.4408 28.6008C76.799 28.0877 76.6349 27.3724 76.0857 27.0553ZM58.4685 16.884L57.7703 16.4809L60.1996 12.2733L60.8897 12.6903L58.4685 16.884ZM61.661 11.3545L60.9547 10.9654L61.8657 9.38751L62.5558 9.80457L61.661 11.3545ZM60.3349 17.9616L59.6368 17.5585L62.0472 13.3835L62.7374 13.8005L60.3349 17.9616ZM63.5462 12.3995L62.84 12.0104L63.7107 10.5023L64.4008 10.9194L63.5462 12.3995ZM65.561 11.6079L66.2511 12.0249L65.4342 13.4399L64.7279 13.0507L65.561 11.6079ZM61.5032 18.6361L63.8949 14.4936L64.585 14.9107L62.2014 19.0392L61.5032 18.6361ZM64.608 28.4468C64.258 28.4619 63.9675 28.7286 63.9133 29.0696C63.8309 29.5992 63.2271 29.8712 62.7778 29.5746C62.4833 29.3859 62.0958 29.4229 61.8474 29.6704C61.4657 30.052 60.819 29.9145 60.6299 29.4143C60.5027 29.0865 60.1676 28.893 59.8201 28.9468C59.2877 29.0304 58.8453 28.5391 58.9896 28.0204C59.0797 27.6815 58.9207 27.3228 58.6074 27.1668C58.1285 26.9213 58.0594 26.267 58.4769 25.9309C58.7525 25.7115 58.8309 25.3285 58.6689 25.0178C58.4231 24.5408 58.7536 23.9683 59.2924 23.938C59.6424 23.9229 59.9329 23.6562 59.9871 23.3151C60.0695 22.7855 60.6733 22.5135 61.1226 22.8102C61.4171 22.9988 61.8046 22.9619 62.053 22.7143C62.4347 22.3327 63.0814 22.4703 63.2705 22.9704C63.3977 23.2983 63.7328 23.4918 64.0804 23.438C64.6127 23.3544 65.0552 23.8457 64.9109 24.3643C64.8207 24.7032 64.9798 25.0619 65.2931 25.218C65.7719 25.4634 65.841 26.1177 65.4235 26.4538C65.1479 26.6733 65.0695 27.0562 65.2315 27.3669C65.4747 27.8487 65.1441 28.4212 64.608 28.4468Z' fill='white' fill-opacity='0.26'/%3E%3Cpath d='M63.9818 26.844C63.3718 27.9006 62.0162 28.2599 60.9643 27.6525C60.08 27.142 59.777 26.0113 60.2876 25.127C60.7176 24.3823 61.672 24.1265 62.4167 24.5565C63.0497 24.922 63.2681 25.7369 62.9026 26.3699C62.7924 26.5607 62.5428 26.6276 62.352 26.5174C62.1611 26.4073 62.0942 26.1576 62.2044 25.9668C62.3495 25.7155 62.2603 25.3971 62.0136 25.2547C61.6552 25.0477 61.1927 25.1717 60.9858 25.5301C60.6982 26.0281 60.8694 26.6668 61.3674 26.9544C62.0376 27.3413 62.8966 27.1112 63.2836 26.4409C63.3965 26.2454 63.6387 26.1805 63.8342 26.2934C64.0251 26.4036 64.0919 26.6532 63.9818 26.844Z' fill='white' fill-opacity='0.26'/%3E%3C/svg%3E%0A");
    background-color: $yellow;
    background-size: 25%;
    animation: scrollLeft 70s infinite;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.WrapperR{
    composes: Wrapper;
    animation: scrollRight 70s infinite;
}

.WrapperR{
    composes: Wrapper;
    background-color: $lime-green;
}

.characterImage{
    height: 600px;
    order: 1;
}

.characterImageR{
    composes: characterImage;
    order: 2;
}

.characterInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   width: 30%;
    order: 2;
    margin: 50px;
}


.characterInfoR{
    composes: characterInfo;
    order: 1;

}

.characterName{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: calc(2vw + 2vh);
    margin: 0;
    text-align: left;
}

.characterNameR{
    composes: characterName;
    text-align: left;
}

.characterBio{
    font-family: 'Archivo';
    font-size: calc(12px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    color: white;
    background: black;
    padding: 40px;
    width: 80%;
    text-align: left;
    border-radius: 5px;

}


@keyframes scrollRight {
    100%{
     background-position:-3000px 0px;
   }
 }

 @keyframes scrollLeft {
    100%{
     background-position: 3000px 0px;
   }
 }

 @media only screen and (max-width: 1000px) {
    .Wrapper, .WrapperR{
        padding-top: 40px;
        flex-direction: column;
        height:auto;
        max-height: 1500px;
        width: auto;
    }

    .characterImage, .characterImageR{order: 2; height: 600px;}
    .characterInfoR, .characterInfo{order: 1; }
    .characterInfo{width: 400px; margin: 0 auto;}

  }